*{
    background: #481988;

}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.service-card {
    transition: all 0.3s ease;
    perspective: 1000px;
    background:  #1D0038;

}

.service-card:hover {
    transform: rotateY(10deg);
    box-shadow: 0 10px 20px rgba(16,185,129);
}
#nitish{
    box-shadow: 0 5px 10px rgba(59, 130, 246)
}
#naman{
    box-shadow: 0 5px 10px rgba(16,185,129);
}
#jatin{
    box-shadow: 0 5px 10px rgba(239, 68, 68);
}
#nitish:hover{
    box-shadow: 0 10px 20px rgba(59, 130, 246)
}
#naman:hover{
    box-shadow: 0 10px 20px rgba(16,185,129);
}
#jatin:hover{
    box-shadow: 0 10px 20px rgba(239, 68, 68);
}

.floating-icon {
    animation: float 4s ease-in-out infinite;
}

.pulse-effect {
    animation: pulse 2s infinite;
}

.gradient-bg {
    background: #481988;

}


@media (max-width: 768px) {
    .service-card {
        margin-bottom: 1rem;
    }
}
